.app-container {
  width: 100vw; /* Робимо контейнер розміром екрану */
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aquamarine; /* Задайте бажаний фон */
}

.inner-block {
  /* width: 200px; */
  /* height: 50px; */
  /* border: 2px dashed #000; */
  position: absolute;
  transform: translate(-50%, -50%); /* Центруємо блок відносно координат миші */
  transition: transform 0.3s; /* Додайте плавний перехід для зміни масштабу */
}

.inner-block:hover,
.inner-block:focus {
  cursor: move;
}

.centered {
  left: 50%;
  top: 50%;
}
